%h3 Links
%nav
  = link_to "Github", "http://github.com/Aaronneyer"
  = link_to "Resume", "/resume.pdf"
  = link_to "Public Key", "/id_rsa.pub"
  = mail_to "aaron@aaronneyer.com", "Email"
  = link_to "Google+", "https://plus.google.com/105911866099025277294"
  = link_to "Facebook", "https://www.facebook.com/aaron.neyer"
