<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2> by <%= @post.user.name %><br />

<%= sanitize(RedCloth.new(@post.content).to_html) %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
