<footer class="footer">
<small>
	Site built using <%= link_to "Rails", "http://rubyonrails.org" %> and
 	<%= link_to "Bootstrap.", "http://twitter.github.com/bootstrap/" %>
</small>
<span class='center'><%= "Load Time: #{(Time.now-@time).round(3)} seconds | #{`uptime | cut -d ' ' -f 12-16`}" %></span>
<nav>
<ul>
	<% if signed_in? %>
		<li><%= link_to "#{User.current_user.name}: Sign Out", signout_path, method: 'delete' %></li>
	<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
	<% end %>
</ul>
</nav>
</footer>
