<footer class="footer">
<small>
	Site built using <%= link_to "Rails", "#" %> and  <%= link_to "Bootstrap.", "#" %>
</small>
<nav>
<ul>
	<li><%= link_to "Thing one", "#" %></li>
	<li><%= link_to "Thing two", "#" %></li>
	<li><%= link_to "Thing three", "#" %></li>
</ul>
</nav>
</footer>
