<h3>Links</h3>
<nav>
<%= link_to "Github", "http://github.com/Aaronneyer" %><br />
<%= link_to "Resume", "http://aaronneyer.com/resume.pdf" %><br />
<%= link_to "Public Key", "http://aaronneyer.com/id_rsa.pub" %><br />
<%= mail_to "Email", "aaron@aaronneyer.com" %><br />
<%= link_to "Google+", "https://plus.google.com/105911866099025277294" %><br />
<%= link_to "Facebook", "https://www.facebook.com/aaron.neyer" %>
</nav>
